<p>
  <b>Name:</b>
  <%=h @service.name %>
</p>

<p>
  <b>Url:</b>
  <a href="<%=  @service.url %>" target="_blank"><%=h @service.url %></a>
</p>

<p>
  <b>Description:</b>
  <%=h @service.description %>
</p>
