<p>
  <b>Name:</b>
  <%=h @map.name %>

<div>
  <%= svg_tag "/maps/#{@map.id}/svgdata", :width=>@map.width, :height=>@map.height %>

</div>
</p>


<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>